/* The Modal (background) */
.obchod-modal-lightbox {
  display: none;
  position: fixed;
  z-index: 10001; /* Higher than shop menu */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* This is the container for the main image */
.obchod-modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Modal Content (image) */
.obchod-modal-content img {
  margin: auto;
  display: block;
  height: 80vh;
  width: auto;
  max-width: 90vw;
  object-fit: contain;
}

/* Caption of Modal Image */
#obchod-caption {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: auto;
  font-size: 1rem;
  line-height: 2;
}

/* Styles for the new multi-line caption */
#obchod-caption span {
  display: block;
}

.caption-latin {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
}

.caption-japanese {
  font-size: 0.8rem;
  color: #fefefe;
}

.caption-category {
  font-size: 0.7rem;
  color: #aaa;
  margin-top: 8px;
}

/* Add Animation */
.obchod-modal-content,
#obchod-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.obchod-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10002;
}

.obchod-close:hover,
.obchod-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.obchod-prev,
.obchod-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Position the "next button" to the right */
.obchod-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.obchod-prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.obchod-prev:hover,
.obchod-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* On smaller screens, where height is less than 800px, and it's portrait, move arrows down */
@media screen and (max-height: 800px) and (orientation: portrait) {
  .obchod-prev,
  .obchod-next {
    top: 85vh;
  }
}
