html {
    padding: 0;
    margin: 0;
}

body {
    font-family: proxima-nova;
    line-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
    background-color: #000;
}

main {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
}

h1 {
    position: absolute;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #FF1E00;
    letter-spacing: 3px;
    text-transform: uppercase;
    top: 45vh;
    line-height: 1.3em;
    left: 60vw;
    text-align: left;
}

h1 strong {
    font-size: 48px;
    line-height: 1.6em;
    letter-spacing: 5px;
    font-weight: normal;
}

.hidden {
    display: none;
}

header video {
    position: relative;
    height: 90vh;
    width: auto;
    z-index: -1;
    top: 0;
    left: 0;
}

footer {
    padding: 2em;
    text-align: right;
    background-color: #000;
}

footer a.email {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transform: translateY(-12px);
    position: relative;
    display: inline-block;
    margin-right: 2em;
}

footer img {
    margin: 0 2em;
}

a.social {
    outline: none;
    text-decoration: none;
}

@media screen and (max-width: 1315px) {
    body, html, main {
        height: 100%;
    }
    footer {
        padding: 2em;
        text-align: right;
        background-color: #000;
        position: absolute;
        bottom: 0;
        width: 98vw;
    }
    header video {
        position: absolute;
        height: 90vh;
        width: auto;
        z-index: -1;
        top: 0;
        right: 0;
        left: auto;
        /*transform: translateX(27%);*/
        object-fit: cover;
    }
}

@media screen and (min-width: 500px) and (max-width: 992px) {
    header video {
        transform: translateX(37%);
    }
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    header video {
        transform: translateX(-19%);
        left: 0;
        right: auto;
        display: block;
    }
    .slide {
      animation: slideRight 1s forwards;
    }
    @keyframes slideRight {
      from {
        transform: translateX(-19%);
      }
      to {
        transform: translateX(-44%);
      }
    }
    .slide_back {
      animation: slideLeft 0s forwards;
    }
    @keyframes slideLeft {
      from {
        transform: translateX(-44%);
      }
      to {
        transform: translateX(-19%);
      }
    }
}

@media screen and (max-width: 703px) {
    h1 {
        left: auto;
        top: 31vh;
        padding-left: 11%;
    }
}
